@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 768px) {
  main {
    gap: 100px;
  }
}

section:not(#hero) > div {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.about__reference {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .about__reference {
    gap: 50px;
  }
}
.about__box {
  width: 100%;
}
@media (min-width: 576px) {
  .about__box {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .about__box {
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .about__box {
    width: 25%;
  }
}
.about__box-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .about__box-image {
    margin-right: 15px;
  }
}
.about__box-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.about__box h6 {
  margin-top: 0 !important;
}
.about p {
  max-width: 840px;
  margin: 0 auto;
}

section:not(#hero) {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}
section:not(#hero).visible {
  opacity: 1;
  transform: translate(0, 0);
}

.btn {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.btn-primary {
  background-color: #66fcf1;
  color: #000;
  border: 1px solid #66fcf1;
}
.btn-secondary {
  background-color: transparent;
  color: #66fcf1;
  border: 1px solid #66fcf1;
}

#contact {
  width: auto;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact__box {
  border-radius: 5px;
  width: 100%;
}
.contact__box h4 {
  text-align: center;
}
.contact__info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact__info p {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #1f2833;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #1f2833;
  transition: all 0.3s ease;
}
.contact__info p:hover {
  background-color: transparent;
  border-color: #66fcf1;
}
.contact__info span {
  margin-bottom: 5px;
}
.contact__info svg {
  margin-bottom: 10px;
}
.contact__info a {
  margin-top: 10px;
  font-size: 14px;
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .flickity-slider {
    margin-left: 8px;
  }
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

footer {
  background-color: #1f2833;
  padding: 50px 0 100px;
  text-align: center;
  margin-top: 50px;
}
footer > * {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .footer__contact {
  margin-bottom: 25px;
}
footer .footer__contact p {
  margin: 0;
  line-height: 1.2;
}

h2 {
  font-size: clamp(30px, 2vw, 36px);
  color: #66fcf1;
  text-align: center;
  margin-top: 0;
  font-weight: 600;
}

h4 {
  font-size: clamp(18px, 2vw, 24px);
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  color: #c5c6c7;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 500;
}

p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.2;
}

a {
  font-size: 16px;
  color: #66fcf1;
  font-weight: 300;
  text-decoration: none;
}

.small {
  font-size: 14px;
  color: #c5c6c7;
  font-weight: 300;
}

section {
  width: 100%;
}

#hero {
  height: 100vh;
  display: flex;
  position: relative;
}
#hero::after {
  content: "";
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #000 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (min-width: 992px) {
  #hero::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 90%);
  }
}
#hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  left: 0%;
  opacity: 1;
}

.hero__image {
  width: 100%;
}
@media (min-width: 992px) {
  .hero__image {
    width: 90%;
  }
}
.hero__content {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
@media (min-width: 992px) {
  .hero__content {
    width: 40%;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}
.hero__content h1 {
  font-size: clamp(24px, 2vw, 42px);
  font-family: "Karla", sans-serif;
  color: #fff;
  line-height: normal;
  font-weight: 700;
}
.hero__content #myStatus {
  height: 20px;
  color: #fff;
  font-size: clamp(14px, 2vw, 18px);
}
.hero__content p {
  font-size: clamp(16px, 2vw, 24px);
  font-family: "Karla", sans-serif;
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 992px) {
  .hero__content p {
    text-align: left;
  }
}
.hero__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 992px) {
  .hero__btns {
    justify-content: flex-start;
  }
}
.hero__socials {
  position: absolute;
  right: 50px;
  z-index: 10;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero__socials::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background: #66fcf1;
  top: -60px;
  left: 50%;
}
.hero__scroll {
  position: absolute;
  z-index: 10;
  color: #66fcf1;
  display: block;
  left: 50px;
  top: 20px;
}
@media (min-width: 992px) {
  .hero__scroll {
    top: unset;
    left: unset;
    bottom: 20px;
    right: 50px;
    transition: all 0.3s ease;
  }
}
@media (min-width: 768px) {
  .hero__scroll:hover {
    transform: scale(1.1);
  }
}

nav {
  background: rgba(31, 40, 51, 0.6);
  width: auto;
  display: block;
  padding: 10px 20px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  gap: 0.8rem;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: #c5c6c7;
  font-size: 1.1rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background: #66fcf1;
  color: #0b0c10;
}

.projects__slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  overflow-x: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .projects__slider {
    gap: 50px;
  }
}
.projects__slider p {
  max-width: 90%;
  margin: 0 auto;
  min-height: 40px;
  padding: 15px 0;
}
.projects__box {
  width: 100%;
}
@media (min-width: 576px) {
  .projects__box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .projects__box {
    width: 33.3333333333%;
  }
}
.projects__box-image {
  height: 225px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}
@media (min-width: 576px) {
  .projects__box-image {
    margin-right: 15px;
  }
}
.projects__box-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.projects__box-image:hover {
  transform: scale(1.05);
}
.projects__box-image:hover::before {
  background: rgba(0, 0, 0, 0);
}
.projects__box-image img {
  width: 100%;
  height: 215px;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.projects__box h6 {
  margin-top: 0 !important;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .services {
    flex-wrap: nowrap;
  }
}
.services__box {
  width: 100%;
  padding: 25px;
  background-color: #1f2833;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: all 0.3s ease;
  max-width: 400px;
}
.services__box:hover {
  border: 1px solid #66fcf1;
  transform: scale(1.05);
  background-color: transparent;
}
@media (min-width: 768px) {
  .services__box {
    width: calc(50% - 60px);
  }
}
@media (min-width: 992px) {
  .services__box {
    width: 33.3333333333%;
  }
}
.services__image {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__image img, .services__image svg {
  height: 40px;
  width: 40px;
}/*# sourceMappingURL=index.css.map */