.about {
    &__reference {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        overflow-x: hidden;

        @include min-md {
            gap: 50px;
        }
    }

    &__box {
        width: 100%;

        @include min-sm {
            width: calc((100% / 2));
        }

        @include min-lg {
            width: calc((100% / 3));
        }

        @include min-xl {
            width: calc((100% / 4));
        }

        &-image {
            height: 300px;
            overflow: hidden;
            position: relative;
            border-radius: $br;

            @include min-sm {
                margin-right: 15px;
            }
        
            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        h6 {
            margin-top: 0 !important;
        }
    }

    p {
        max-width: 840px;
        margin: 0 auto;
    }
}