h2 {
    font-size: clamp($fs-h3, 2vw, $fs-h2);
    color: $c-primary;
    text-align: center;
    margin-top: 0;
    font-weight: $fw-semibold;
}

h4 {
    font-size: clamp($fs-h5, 2vw, $fs-h4);
    color: $c-white;
    text-align: center;
    margin: 0;
    font-weight: $fw-medium;
}

h6 {
    font-size: $fs-h6;
    color: $c-gray-400;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: $fw-medium;
}

p {
    font-size: $fs-p;
    color: $c-white;
    text-align: center;
    margin-top: 20px;
    font-weight: $fw-light;
}

a {
    font-size: $fs-p;
    color: $c-primary;
    font-weight: $fw-light;
    text-decoration: none;
}

.small {
    font-size: $fs-small;
    color: $c-gray-400;
    font-weight: $fw-light;
}